// ================= categories styles ================

.catalog-card:hover {
  opacity: 50% black;
}

// .categories__item {
//   max-width: 400px;
//   max-height: 600px;
//   min-width: 270px;
//   min-height: 400px;
//   object-fit: cover;
// }

.categories__item-name {
  font-family: "Raleway", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 28px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: none;
  color: #423c3d;
  margin-top: 10px;
}

// ================= products styles ================

// .productions__item {
//   //   width: calc((1580px - 300px) / 4);
//   width: 100%;
//   height: 100%;
//   max-width: 300px;
//   max-height: 450px;
//   min-width: 132px;
//   min-height: 198px;
//   object-fit: cover;
// }

.productions__item-name {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: none;
  color: #423c3d;
  margin-top: 20px;
  padding: 0 10px;
  text-align: center;
  min-height: 44px; /* Для двух строк текста */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.productions__item-price {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: #423c3d;
  margin-top: 8px;
  text-align: center;
}
