// ================= categories styles ================

.catalog-card:hover {
  opacity: 50% black;
}

// .categories__item {
//   max-width: 400px;
//   max-height: 600px;
//   min-width: 270px;
//   min-height: 400px;
//   object-fit: cover;
// }

.categories__item-name {
  font-family: "CSTM Xprmntl 02", "Jost", "Arial", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 25px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #423c3d;
  margin-top: 10px;
}

// ================= products styles ================

// .productions__item {
//   //   width: calc((1580px - 300px) / 4);
//   width: 100%;
//   height: 100%;
//   max-width: 300px;
//   max-height: 450px;
//   min-width: 132px;
//   min-height: 198px;
//   object-fit: cover;
// }

.productions__item-name {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #423c3d;
  margin-top: 20px;
}

.productions__item-price {
  display: block;
  padding: 0 10px;
  font-family: "Jost", "Arial", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #423c3d;
  text-align: center;
}
