@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body {
  background-color: #fff;
}

.title-h1 {
  text-align: center;
  font-size: 40px;
  line-height: 34px;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-family: 'involve';
  // font-family: "CSTM Xprmntl 02", "Jost", "Arial", sans-serif;
  font-weight: 400;
  letter-spacing: 0;
  color: #423c3d;
  margin: 0;

  @media (max-width: 480px) {
    font-size: 20px;
    line-height: 48px;
  }
}

.containers {
  @media(max-width:500px){
    padding-left: 10px;
    padding-right:10px;
    margin-left: 0px;
    margin-right: 0px;
  }
}

.video-slider {
  @media(max-width:1140px){
    height: 700px;
  }
  @media(max-width:870px){
    height: 500px;
  }
  @media(max-width:630px){
    height: 400px;
  }
  @media(max-width:520px){
    height: 300px;
  }
  @media(max-width:390px){
    height: 250px;
  }
}

@media not all and (width >= 769px) {
  .max-laptop\:pb-\[40px\] {
      padding-bottom: 40px;
  }
}
@media not all and (width >= 390px) {
  .max-laptop\:pb-\[40px\] {
      padding-bottom: 20px;
  }
}

@media (max-width:390px) {
  .max-laptop-390 {
    padding-bottom: 20px;
  }
}

@font-face {
  font-family: 'lineyka';
  src: url('/public/fonts/Lineyka.ttf');
}

@font-face {
  font-family: 'involve';
  src: url('/public/fonts/Involve.ttf');
}

// .lineyka {
//   font-family: 'lineyka';
// }

// .yeseva {
//   font-family: "Yeseva One", serif;
//   font-weight: 400;
//   font-style: normal;
// }

// .tektur {
//   font-family: "Tektur", serif;
//   font-optical-sizing: auto;
//   font-style: normal;
//   font-variation-settings: "wdth" 100;
// }


.react-dadata__input {
  background-color: #fff;
}