.categories-card-container {
  display: grid;
  gap: 50px;

  @media screen and (min-width: 1920px) {
    grid-template-columns: repeat(4, 1fr); /* 4 карточки */
  }

  @media (min-width: 1366px) and (max-width: 1920px) {
    grid-template-columns: repeat(3, 1fr); /* 4 карточки */
  }
  @media (min-width: 768px) and (max-width: 1366px) {
    grid-template-columns: repeat(2, 1fr); /* 3 карточки */
  }

  /* Для экранов от 480px до 768px — 2 карточки */
  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr); /* 2 карточки */
    gap: 0;
  }
  /* Для экранов ниже 480px — 1 карточка */
  @media (max-width: 440px) {
    grid-template-columns: repeat(2, 150px);
    gap: 10px;
    .product-card-wrapper {
      width: 150px;
      .product-card {
        padding: 0;
        width: 150px;
      }
      .product-card__image {
        width: 150px;
      }
    }
  }
}
