.products-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  width: 100%;
  margin: 0 auto;
}

.filters {
  @media(max-width: 600px) {
    flex-direction: column;
    gap: 10px;
  
    div {
      h3 {
        margin-bottom: 0;
      }
    }
  }
}

.filters__active {
  margin-bottom: 5px;
}

.spinner {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 768px) {
  .products-card-container {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }
}

@media (min-width: 1024px) {
  .products-card-container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
